.background    { background: url(http://s22.postimg.org/hsmqkl3n4/volcano.jpg);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background-image: url(../img/lava3.gif); }
.wall          { background-image: url(../img/wall.png); }

.actor   { position: absolute;  }
.coin    { background-image: url(../img/bone.png); }
.player  { background-image: url(../img/dino.png);}
.fireball{background-image: url(../img/fireball.gif) ;}
.ptero{background-image: url(../img/ptero.gif) ;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.lost .player {
  box-shadow: -4px -7px 8px red, 4px -7px 8px red;
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}


h1 {
    font-family: "Arial", Arial, serif;
    color: white;
}

#myCanvas{
  background-image: url(../img/bg.jpg);
  margin-left: 330px;
  margin-top: 60px;

}

audio {
  display: none;
}